page-restaurants {
.borderb-1{
        border-bottom: 1px solid #dedede !important;
}
.bordert-0{
    border:0;
}
.checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled ion-label {
    opacity: 1 !important;
}
}
